{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p>What did you memorise?</p>
                {# <input type="text"> #}
                {# <button><a href="{{ path('numbers_score') }}">Answer!</a></button> #}

                {{form(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}