{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p>By default you will have 5 minutes to remember 10 numbers</p>

                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}