{% extends 'base.html.twig' %}

{% block title %}Memory - Tips{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/tipsSlider.css">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <div class="container-slider">
                    <section class="slider-wrapper">
                            <div class="dot-section" style="text-align:center">
                                <span class="dot active"></span>
                            </div>
                        <div class="slider">
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=1" alt=""> #}
                            <h3><strong>THE LINK METHOD</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>Try and use all your senses when memorizing something.
                                <br>
                                The more vivid you make your associations, the more readily they’ll come back to you.
                                <br><br>
                                <i>« Smell has strong links with memory: the olfactory bulb (the hub of the sense of smell) and parts of the brain associated with memory and learning have a close physiological connection. » - (page 29)</i>
                                <br><br>
                                <i>« If you can hone your natural ability to make connections and bring alive episodes from your past by using your emotions and senses, as well as logic and creativity, you make it easier for your brain to memorize new information in an instantly vivid, memorable way. In addition, you get used to the sense of letting your brain make the fastest connections and trusting them. Instant association is an important aspect of memory training, because first associations will prove to be the most reliable. » - (page 30)</i>
                            </p>
                        </div>
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=2" alt=""> #}
                            <h3><strong>MEMORY PALACE</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>Another important notion when it comes to memorizing is to use our sense of direction/our memory of locations. It is usually (for most of us) our most developed sense in terms of memorization. 
                                <br><br>
                                So the idea in most cases will be to create the most memorable image possible with the most associations you can create (smell, touch, sound, etc) and place that in a place that you can come back to mentally.
                                <br><br>
                                I’d image if someone asked you to close your eyes and imagine going through your house mentally from the front door, it would be relatively easy (hopefully)? At the very least you should be able to mentally visualize the general structure of your home and some “landmarks” or furniture.
                                <br><br>
                                Once we have such a place, we can use it to place our images in.
                                <br><br>
                                For example, let’s say you wanted to memorize a list of groceries, and let’s say that the first item is an orange. You could first visualize it mentally, its orange color, how it feel to the touch, the taste, and it’s smell. Once all of that seems vivid enough, you would place all those linked sensations at, let’s say, your front door. So now, next time you need to remember what was on your list, you know you can revisit your apartment mentally and you should find back your image that you placed at the front door. And you would continue to do that for each item on the grocery list and place them all along the way in your house.
                            </p>
                        </div>
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=3" alt=""> #}
                            <h3><strong>NUMBERS</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>The secret to memorizing numbers is to attach significance to them by translating them into coded images, to make them less abstract (to most of us anyway).
                            </p>
                        </div>
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=4" alt=""> #}
                            <h3><strong>NUMBER SHAPES</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>Try and find something that has a similar shape to the number you want to memorize.
                            <br><br>
                            The first thing that comes to your mind will most likely be the most memorable to you. I’ll give one or two examples for you to get the idea but, once again, it is best if you come up with the shapes yourself.
                            <br><br>
                            8 could be seen as a snowman (cold, touch of snow, the sense of cold when you breath in, …the taste of snow? etc)
                            <br><br>
                            2 could be a swan (sounds, feathers, etc)
                            </p>
                        </div>
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=4" alt=""> #}
                            <h3><strong>NUMBER RYHME</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>Use the image of something that sounds similar to the number</p>
                            <ul class="text-left">Ex: 
                                <li>Zero => Hero, Nero</li> 
                                <li>One => Sun, Bun</li>
                                <li>Two => Shoe, Glue</li>
                            </ul>
                            <p>Etc…</p>
                        </div>
                        <div class="item">
                            {# <img src="https://picsum.photos/600/400?random=4" alt=""> #}
                            <h3><strong>DOMINIC SYSTEME</strong></h3>
                            <img src="/images/brain.png" alt="" width="200">
                            <p>This is a technique that’s a bit more advance and will ask a bit more time to setup.
                            <br><br>
                            The general idea is that we are going to give each number from 00 to 99 an image or a character/person.
                            <br><br>
                            A part of the technique, and something that will help find characters for your numbers, is that each number is associated with a letter too.
                            <br><br>
                            Such as: 
                            <br><br>
                            </p>
                            <img src="/images/dominic-table.png" alt="" width="300">
                            <p>So for example, 24 would be BD, 15 would be AE and 02 OB…
                            <br><br>
                            Once we have this, you need to come up with the first thing that come to mind when you see those initials.
                            <br><br>
                            For me, when I see BD, I see Bob Dylan (his distinct hair, voice…). When I see AE, I see Albert Einstein (usually the iconic tongue out face or writing something on a chalkboard). And when I see OB, I see Obelix. And so on and so on…
                            <br><br>
                            </p>
                            <ul class="text-left">Each of these characters also have an action attached to them: 
                            <li>Bob Dylan = singing, playing guitar, …</li>
                            <li>Albert Einstein = usually the iconic tongue out face or writing something on a chalkboard…</li>
                            <li>Obelix = carrying stone, eating boar, …</li>
                            </ul>
                            <br><br>
                            <p>
                            Once you’re used to these, you can start mixing number/images together:
                            <br>
                            If I wanted to memorize 0224, I’d imagine obelix singing and playing a guitar.
                            </p>
                            
                        </div>
                        </div>
                        <button id="prev"><img src="/images/left-arrow.svg" alt="<"></button>
                        <button id="next"><img src="/images/right-arrow.svg" alt=">"></button>
                    </section>
                    </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/tipsSlider.js"></script>
{% endblock %}
