/* body{
    background-image: url("../images/dude.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
} */

/* GENERAL */
button:focus{
    outline: none !important;
}

.main-menu-text{
    font-weight: bold;
    font-size: 20px;
}

#main-menu a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.main-button{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.main-button img{
    width: 80px;
}

.bg-color-1{
    background-color: #4103DB;
}

.bg-color-2{
    background-color: #4E02C5;
}

.bg-color-3{
    background-color: #5402BB;
}

.bg-color-4{
    background-color: #5C02AC;
}

/* SECTION SETUP */
#setup_number_quantity, #setup_word_quantity, #setup_people_quantity, #setup_card_quantity{
    border-radius: 10px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.img-chrono{
    width: 50px;
    margin-right: 20px;
}

#setup_number_minutes, #setup_word_minutes, #setup_people_minutes, #setup_card_minutes{
    border-radius: 10px;
    height: 60px;
    width: 120px;
    text-align: center;
    font-size: 30px;
}

#setup_number_secondes, #setup_word_secondes, #setup_people_secondes, #setup_card_secondes{
    border-radius: 10px;
    height: 60px;
    width: 120px;
    text-align: center;
    font-size: 30px;
}

#setup_number_go, #setup_word_go, #setup_people_go, #setup_card_go{
    width: 300px;
    height: 60px;
    background-color: #4203D8;
    background: linear-gradient(#4203D8, #5B02AC);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

#setup_number_go:hover, #setup_word_go:hover, #setup_people_go:hover, #setup_card_go:hover{
    cursor: pointer;
}


/* SECTION MEMORISE*/
.time-display{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #4403D4;
}

.time-display::before{
    content: "";
    position: absolute;
    top: 42px;
    left: 150px;
    width: 50px;
    height: 50px;
    z-index: 1000;
    background-image: url(/images/time.png);
    background-size: 100%;
}

.progress-bar{
    background-color: #5902AF !important;
}

.generated-nums, .generated-words{
    color: #5902AF;
    font-weight: bold;
    font-size: 40px;
}

.generated-words{
    color: #5902AF;
    font-weight: bold;
    font-size: 30px;
}

.generated-person{
    width: 270px;
}
.generated-person p{
    padding: 0;
    margin: 0;
}
.generated-person p:first-child{
    font-weight: bold;
}
.generated-person .last-name{
    text-transform: uppercase;
}

.card{
    width: 100px;
}
.card-text{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}

.ready-memorise-button, #ready-btn{
    width: 300px;
    height: 60px;
    background-color: #4203D8;
    background: linear-gradient(#4203D8, #5B02AC);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.ready-memorise-button a{
    color: white;
    text-decoration: none;
}

.ready-memorise-button a:hover{
    color: white;
    text-decoration: none;
}

.ready-memorise-button:hover, #ready-btn:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* SECTION RECALL */
#person-index-text{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

#recall_number_userAnswer, 
#recall_word_userAnswer,
#recall_card_userAnswer,
#recall_people_address,
#recall_people_town,
#recall_people_postalCode,
#recall_people_age,
#recall_people_job{
    border-radius: 10px;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#recall_people_firstName, #recall_people_lastName{
    border-radius: 10px;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#recall_number_answer, 
#recall_word_answer, 
#recall_card_answer, 
#recall_people_answer, 
#recall_people_recallMore{
    width: 100%;
    height: 60px;
    background-color: #4203D8;
    background: linear-gradient(#4203D8, #5B02AC);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

#recall_number_answer:hover, #recall_word_answer:hover, #recall_card_answer:hover,
#recall_people_answer:hover, #recall_people_recallMore:hover{
    cursor: pointer;
}

/* SECTION SCORING */
.score-text, .answer-text, .user-answer-text{
    font-weight: bold;
    font-size: 20px;
    color: #4403D4;
}
.user-answer-text h3{
    text-decoration: underline;
}

.button-redo,
.button-resetup,
.button-astuces,
.button-home{
    width: 100%;
    height: 60px;
    background-color: #4203D8;
    background: linear-gradient(#4203D8, #5B02AC);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.button-redo a,
.button-resetup a,
.button-astuces a,
.button-home a{
    color: white;
    text-decoration: none;
}

.button-redo:hover,
.button-resetup:hover,
.button-astuces:hover,
.button-home:hover{
    cursor: pointer;
}

.button-redo a:hover,
.button-resetup a:hover,
.button-astuces a:hover,
.button-home a:hover{
    color: white;
    text-decoration: none;
}

.answer-text h3{
    text-decoration: underline;
}