{% extends 'base.html.twig' %}
{% block title %}Memory - error{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <h2 class="error-text">ERROR</h2>
                    <p class="error-subtext">Why are you<br>here?</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}